<div fxLayout="column" class="dialog-body">
  <div fxFlex="70%">
    <div fxLayout="row" fxLayoutAlign="space-around">
      <img [src]="logoRef"/>
    </div>
  </div>
  <div fxFlex="20%">
    <div fxLayout="row" fxLayoutAlign="space-around">
      <span class="questionText">{{text}}</span>
    </div>
  </div>
  <div fxFlex="10%">
    <div fxLayout="row">
      <div fxFlex="10%"><i class="fa fa-angle-double-left"></i></div>
      <div fxFlex="40%"><span class="answerText">Ja</span></div>
      <div fxFlex="40%"><span class="answerText">Nein</span></div>
      <div fxFlex="10%"><i class="fa fa-angle-double-right"></i></div>
    </div>
  </div>
</div>
